.navigation-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu {
	display: flex;
	justify-content: center;
	width: 100%;
	gap:100px;
	margin: 0;
	padding: 0;
}
