.navigation-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-bottom: dashed black;
	background-color: rgba($color: #fff8eb, $alpha: 1);
}

.menu {
	display: flex;
	justify-content: center;
	width: 100%;
	gap:100px;
	margin: 0;
	padding: 0;
}
