/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Helvetica", Sans-Serif;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #ecfcff, $alpha: 1);
}
